package registory

type Application struct {
server Server
//	congig  Config
}

func (a Application) Start (port string) error {
return a.server.Start(port)
}


func NewApplication(rs []RouteRegister) Application {
s := NewServer()
s.AddMiddleware()
for _ , r := range rs {
s.AddRoute(r)
}
return Application{
server : *s,
}
}