
package v1

import (
"github.com/labstack/echo/v4"
)

{{$structName := .BaseName}}
type {{$structName}} struct {
}
{{ range .Endpoints}}
func (h *{{$structName}}) {{ .FunctionName }}(ctx echo.Context) error {	return ctx.String(500, "Not Implemented") }
{{ end }}

func New{{ .BaseName }}Group () types.{{ .BaseName }}Handler {
return &HealthCheckGroup{}
}
